body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: #e2e8f0;
}

.center {
    text-align: center;
    margin-top: 120px;
}

input, select {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 14px;
    background: #2563eb;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover { background: #1d4ed8; }

header {
    background: #111827;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #1f2937;
}

.layout {
    display: flex;
    height: calc(100vh - 70px);
}

.sidebar {
    width: 230px;
    background: #111827;
    padding: 20px;
    position: fixed;
    height: 100%;
}

.sidebar button {
    width: 100%;
    margin-bottom: 12px;
    background: #334155;
}

.sidebar button:hover {
    background: #2563eb;
}

main {
    margin-left: 250px;
    padding: 20px;
    flex: 1;
}

.scrollable {
    height: 75vh;
    overflow-y: auto;
}

.command-card {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.code {
    background: black;
    color: #22c55e;
    padding: 8px;
    border-radius: 5px;
    font-family: monospace;
}

.hidden { display: none; }

.reward {
    background: #22c55e;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}
