body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

header {
    background: #111827;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
}

.layout {
    display: flex;
    height: calc(100vh - 70px);
}

.sidebar {
    width: 220px;
    background: #1e293b;
    padding: 20px;
}

.sidebar button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: #334155;
    border: none;
    color: white;
    cursor: pointer;
}

.sidebar button:hover {
    background: #2563eb;
}

main {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.filter-bar input {
    width: 300px;
    padding: 8px;
    margin-bottom: 20px;
}

.command-card {
    background: #1e293b;
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
}

.command-title {
    font-weight: bold;
    font-size: 16px;
}

.command-code {
    background: black;
    color: #22c55e;
    padding: 8px;
    margin-top: 8px;
    font-family: monospace;
}

.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #1e293b;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}
